<!DOCTYPE html>
<html>
<head>
  <style>
  .center {
    margin: auto;
    width: 30%;
  }
  </style>
<title>Home</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<br>
<h1 style="text-align:center;color:blue">Hierarchial Clustering</h1>
<hr>
<form method="POST" action="cluster" enctype="multipart/form-data">
<div class="center">
<br><br><br><br>
<input type="file" name="file">
<br><br>
<input class="btn btn-primary" type="submit" value="Upload">
</div>
</form>
</body>
</html>
